@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
body{
  font-family: 'Nunito', sans-serif;
  height: 100%;
}
*{
    font-family: 'Nunito', sans-serif;
}
.MuiDialog-root.teste.MuiModal-root.css-zw3mfo-MuiModal-root-MuiDialog-root{
  background-image: url('./background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  opacity: inherit;
}
.MuiDialog-root.teste.MuiModal-root.css-zw3mfo-MuiModal-root-MuiDialog-root::before {
  content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}